{% extends 'base.html' %}

{% block title %}
<title>Change Password</title>
{% endblock %}

{% block nav %}
<div class="text-end">
    <a href="{% url 'Client:logout' %}" type="button" class="btn btn-outline-dark text-white me-2">Logout</a>
</div>
{% endblock %}

{% block header %}
<header class="px-3 py-2 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                <li>
                    <a href="{% url 'Market:homepage' current_user.id  %}" class="nav-link text-white">
                        <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                            <use xlink:href="#home"></use>
                        </svg>
                        Home
                    </a>
                </li>
                <li>
                    <a href="{% url 'Product:store' current_client.id %}" class="nav-link text-white">
                        <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                            <use xlink:href="#grid"></use>
                        </svg>
                        Store
                    </a>
                </li>
                <li>
                    <a href="{% url 'Order:cart' current_client.id  %}" class="nav-link text-white">
                        <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                            <use xlink:href="#table"></use>
                        </svg>
                        Cart
                    </a>
                </li>
                <li>
                    <a href="{% url 'Client:profile' current_client.id  %}" class="nav-link text-white">
                        <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                            <use xlink:href="#speedometer2"></use>
                        </svg>
                        Profile
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
{% endblock %}



{% block content %}
{% if current_user %}
<main class="container form-signin" style="width: 40%">
  <form method="post" action="{% url 'Client:reset-password' current_client.id %}">
      {% csrf_token %}
    <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">

    <div class="form-row mb-3">
            <div class="col-auto">
                {% for message in messages %}
                <strong id="passwordHelpInline" class="card-text mb-1 text-danger">
                    {{ message }}
                </strong>
                {% endfor %}
            </div>
        </div>

      <h6 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Username: {{ current_user.username }}</span>
                </h6>

    <div class="form-floating mb-1">
      <input name="password" type="password" class="form-control" id="floatingInput" placeholder="Password">
      <label for="floatingInput">Password</label>
    </div>
      <div class="form-floating mb-1">
      <input name="confirm-password" type="password" class="form-control" id="floatingInput1" placeholder="Confirm Password">
      <label for="floatingInput">Confirm Password</label>
    </div>

    <button class="w-50 btn btn-lg btn-outline-success" type="submit">Reset Password</button>
  </form>
</main>
{% endif %}
{% endblock %}