{% extends 'base.html' %}

{% load static %}
{% block static %}
<link rel="stylesheet" href="{% static 'product/prod.css' %}" type="text/css">
{% endblock %}

{% block title %}
<title>Store</title>
{% endblock %}

{% block nav %}
<div class="text-end">
    <a href="{% url 'Client:logout' %}" type="button" class="btn btn-outline-dark text-white me-2">Logout</a>
</div>
{% endblock %}


{% block header %}
<header class="px-3 py-2 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                <li>
                    <a href="{% url 'Market:homepage' current_client.id  %}" class="nav-link text-white">
                        <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                            <use xlink:href="#home"></use>
                        </svg>
                        Home
                    </a>
                </li>
                <li>
                    <a href="{% url 'Product:store' current_client.id %}" class="nav-link text-white">
                        <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                            <use xlink:href="#grid"></use>
                        </svg>
                        Store
                    </a>
                </li>
                <li>
                    <a href="{% url 'Order:cart' current_client.id  %}" class="nav-link text-white">
                        <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                            <use xlink:href="#table"></use>
                        </svg>
                        Cart
                    </a>
                </li>
                <li>
                    <a href="{% url 'Client:profile' current_client.id  %}" class="nav-link text-white">
                        <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                            <use xlink:href="#speedometer2"></use>
                        </svg>
                        Profile
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="form-row mb-3">
    <div class="col-auto">
        {% for message in messages %}
        <strong id="passwordHelpInline"
                class="card-text mb-1 {% if message.error %}text-danger{% else %}text-success{% endif %}">
            {{ message }}
        </strong>
        {% endfor %}
    </div>
</div>


<main>
    {% for category in all_categories %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="mb-3">{{ category.name }}</h1>
                <p class="lead text-muted">{{ category.description }}</p>
                <p>
                    <a href="{% url 'Product:product-store' current_client.id category.name %}"
                       class="btn btn-sm btn-outline-primary"><strong>View All {{ category.name }}</strong></a>
                </p>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for product in category.product_set.all %}
            {% if forloop.counter <= 3 %}
            <div class="col">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                         xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>{{ product.name }}</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ product.name }}</text>
                    </svg>

                    <div class="card-body">
                        <p class="card-text mb-2">Name: {{ product.name }}</p>
                        <p class="card-text mb-2">Price: ${{ product.price }}</p>
                        <div class="mb-2 d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'Product:individual-product' current_client.id category.name product.name %}"
                                   type="button" class="btn btn-sm btn-outline-primary"><strong>View
                                    Product</strong></a>
                            </div>
                            <small class="text-muted">Stock: {{ product.stock }}qty</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>


    <div class="album py-5 bg-light"></div>
    {% endfor %}
</main>
{% endblock %}
